{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "plugins": [
          "syntax-dynamic-import",
          ["transform-imports", {}] //add potential libraries to treeshake
        ]
      }
    ]
  ]
}