@import '~normalize.css';

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  width: 100vw;
  height: 100vh;
  font-family: sans-serif;
}

#app {
  font-weight: 300;
  font-size: 16px;
  color: #282f39;
  font-size: 16px;
}

#customCanvas {
  width: 50vw;
  height: 50vh;
}

#infoBox {
  margin: 5px;
  background-color: rgba(255, 255, 255, 0.44);
  padding: 8px;
  width: 150px;
}

.hidden {
  display: none !important;
}

.thumbnail {
  width: 40px;
  height: 40px;
  margin: 0 2px;
}

.selected {
  outline: solid red 1px;
}

.label {
  font-weight: 600;
  margin: 9px 2px 3px 0;
}

.sublabel {
  font-style: italic;
  margin: 9px 2px 3px 0;
}

#deleteButton {
  margin: 10px 0 0 0;
}
